# Traffic Problem
### Google Hash Code 2021 Qualification Round

In [1]:
import pandas as pd
import numpy as np

#### Defined some variables to take in the inputs as a file rather than stdin

In [2]:
#using inputs saperately for ease of use
#k is first line
k = "6 4 5 2 1000"

#l is scond line of code, which gives info about streets
l = '''2 0 rue-de-londres 1
0 1 rue-d-amsterdam 1
3 1 rue-d-athenes 1
2 3 rue-de-rome 2
1 2 rue-de-moscou 3'''

#m is third line of code, which gives info about vehicles and path
m = '''4 rue-de-londres rue-d-amsterdam rue-de-moscou rue-de-rome
3 rue-d-athenes rue-de-moscou rue-de-londres'''

## TAKING INPUTS

1) Unloading from the above taken variables
2) Splitting the inputs into multiple lines, if they contain more than one line
3) Creatig a Pandas DataFrame and Adding one-by-one

In [3]:
#taking inputs

#first line of input
global duration,intersection,streets,vehicles,bonus
(duration,intersection,streets,vehicles,bonus) = map(int,k.split())


#taking second line of input


streetsLine = l.split("\n")

#creating streets DataFrame
streetIndex = pd.DataFrame(columns = ['Start', 'End', 'Name','Time'],
index = list(range(len(streetsLine))))

#position loc tracker
i = 0

for eachLine in streetsLine:
    (start, end, name, time) = eachLine.split(" ")
    temp = []
    temp.append(int(start))
    temp.append(int(end))
    temp.append(name)
    temp.append(int(time))

    streetIndex.loc[i] = temp
    i += 1


#created numpy array to manipulate and use its values
streetIndexArr = np.array(streetIndex)

In [4]:
#some useful functions
def IndexOf(array,name, j):
    # j is position of name in the 2D array
    for i in range(len(array)):
        if streetIndexArr[i][j] == name:
            return i

In [21]:
#taking vehicle details input

vehicleLine = m.split("\n")

VehiclePaths = pd.DataFrame(columns = ['No of Paths', 'PathsName','PathIndices','Path'],
index = list(range(len(vehicleLine))))

#position loc tracker
i = 0

for eachVehicle in vehicleLine:
    carDat = eachVehicle.split()
    temp = []
    temp.append(carDat[0])
    temp.append(carDat[1:])
    
    #to get path indices ie indexes of path according to street Indices
    pathIndex = []
    for path in carDat[1:]:
        index = IndexOf(streetIndexArr,path,2)
        pathIndex.append(index)
    
    temp.append(pathIndex)

    pathStr = ""
    k = 0 #defined to show path 1-0- in paths only for initial path, after that everything will be shown as 2-,3- etc
    for path in carDat[1:]:
        index = IndexOf(streetIndexArr,path,2)
        if k==0:
            pathStr += str(streetIndexArr[index][0]) + "-" + str(streetIndexArr[index][1]) + "-"
            k+= 1
        else:
            pathStr += str(streetIndexArr[index][1]) + "-"

    temp.append(pathStr)


    VehiclePaths.loc[i] = temp
    i += 1

#created a numpy array to manipulate its values
VehiclePathsArr = np.array(VehiclePaths)

C:\Users\nfemi\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\internals\blocks.py:983: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.array(value)

In [22]:
streetIndex

  Start End             Name Time
0     2   0   rue-de-londres    1
1     0   1  rue-d-amsterdam    1
2     3   1    rue-d-athenes    1
3     2   3      rue-de-rome    2
4     1   2    rue-de-moscou    3

In [23]:
VehiclePaths

,No of Paths,PathsName,PathIndices,Path
0,4,"[rue-de-londres, rue-d-amsterdam, rue-de-mosco...","[0, 1, 4, 3]",2-0-1-2-3-
1,3,"[rue-d-athenes, rue-de-moscou, rue-de-londres]","[2, 4, 0]",3-1-2-0-